@model IEnumerable<Residencias.Models.Api.Carreras>

@{
    ViewBag.Title = "Lista de Carreras";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Nueva Carrera", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.objetivo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.perfil_ingreso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.perfil_egreso)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.Raw(item.objetivo)
        </td>
        <td>
            @Html.Raw(item.perfil_ingreso)
        </td>
        <td>
            @Html.Raw(item.perfil_egreso)
        </td>
        <td>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-lg btn-primary btn-block dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Opciones
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Editar", "Edit", new { id = item.nu_carrera })</li>
                    <li>@Html.ActionLink("Detalles", "Details", new { id = item.nu_carrera })</li>
                    <li>@Html.ActionLink("Borrar", "Delete", new { id = item.nu_carrera })</li>
                </ul>
            </div>
        </td>
    </tr>
}

</table>
