@model IEnumerable<Residencias.Models.Api.Grupos>

@{
    ViewBag.Title = "Grupos";
}

<h2>Grupos</h2>

<p>
    @Html.ActionLink("Nuevo grupo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.carrera.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descripcion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.carrera.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descripcion)
        </td>
        <td>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-lg btn-primary btn-block dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Opciones
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Editar", "Edit", new { id = item.nu_grupo })</li>
                    <li>@Html.ActionLink("Detalles", "Details", new { id = item.nu_grupo })</li>
                    <li>@Html.ActionLink("Borrar", "Delete", new { id = item.nu_grupo })</li>
                </ul>
            </div>
        </td>
    </tr>
}

</table>
