@model Residencias.Models.Api.Periodos

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Periodos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fe_inicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fe_inicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fe_final)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fe_final)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.nu_periodo }) |
    @Html.ActionLink("Back to List", "Index")
</p>
